{% extends 'base.html' %}
{% block content %}
    {% include 'navbar_prob_ampl.html' %}
    
    <div class="container">
        <div class="row mt-5">
            <h2 >Wavefunctions and Probability Amplitude</h2>
            <div class="col-12">
                <h3>Wavefunction </h3>
                <p>In the previous section, we covered probability density functions. Here, we introduce the concept of a system wavefunction, \( \psi(\Phi) \), which is defined as follows: 
                    \[ \psi^*(\Phi) \psi(\Phi) = P(\Phi) \]
                    where \( \psi^* \) is the complex conjugate of \( \psi \) and \( P(\Phi) \) is the probability density function of the system with respect to the random variable \( \Phi \). </p>
                <p> The probability density \( P(\Phi) \) has to be a real valued function. However, \( \psi(\Phi) \) can be complex because it will always get multiplied by its complex conjugate when we make observations on the system.
                    As a complex quantity, \( \psi \) has an amplitude and a phase and can be written as \( \psi = |\psi|e^{-j\angle \psi} \). 
                    \( |\psi(\Phi)| \) is commonly referred to as the probability amplitude of the system. 
                 </p>
                 <p>Below are interactive plots in which the wavefunction \[ \psi(\Phi) = \frac{1}{\sqrt[\leftroot{-2}\uproot{2}4]{\sigma^2 2 \pi}} e^{-(\Phi - \Phi_0)^2/4\sigma}e^{jk\Phi} \] is ploted on a 3 dimensional axis. 
                     The flux, \(\Phi\), lies along the x axis; the real part of \(\psi\) lies along the y axis and the imaginary part of \(\psi \) lies along the z axis. The probability density function is plotted on the xy plane. Notice that 
                     \[P(\Phi) \ = \ \psi^*\psi \ = \ \frac{1}{\sqrt[\leftroot{-2}\uproot{2}4]{\sigma^2 2 \pi}} \frac{1}{\sqrt[\leftroot{-2}\uproot{2}4]{\sigma^2 2 \pi}} e^{-(\Phi - \Phi_0)^2/4\sigma}e^{-jk\Phi} e^{-(\Phi - \Phi_0)^2/4\sigma}e^{jk\Phi} \ = \ \frac{1}{\sqrt{\sigma^2 2\pi}}e^{-(\Phi - \Phi_0)^2/2\sigma}\]. 
                     The PDF of the wavefunction is a gaussian distribution with mean \( \Phi_0\) and standard diviation \(\sigma \). In each one of the interactive plots below, you can vary either \(k\), \(\sigma\), or \(\Phi_0 \) and observe the effect on the wavefunction and the probability distribution. 
                 </p>

            </div>
            <div class="col-6">
               <!--{{ div_Classical_LC | safe }} -->
               {% include 'wavefunction_changing_k.html' %}
                
            </div>
            <div class="col-6">
                {% include 'wavefunction_changing_sig.html' %}
            </div>

            <div class="col-6">
                {% include 'wavefunction_changing_mu.html' %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
            <h3>Position and Momentum Analog</h3>
            <p>In physics, quantum mechanics is typically introduced by describing a mass on a spring as the harmonic oscillator. Instead of flux\current and charge, the wavefunction is in terms of position and momentum. 
                While a mass on a spring and an LC circuit don't seem to have much in common, the mathematical formulation that describes their behavior is identical.
                </p>
            <p>Here, we'll use the charge on the capacitor \( Q \), in analogy with the position \( x\) and we'll use the flux in an inductor, \( \Phi \), in analogy with the momentum \( p \).</p>
            <p>The hamiltonian of the spring system is:
                \[ \mathcal{H} = \frac{1}{2} kx^2 + \frac{1}{2m} p^2\]
                where the momentum is defined as, \( p = m \dot{x}\). 
                The hamiltonian of the L-C system is
                \[ \mathcal{H} = \frac{1}{2L} \Phi^2 + \frac{1}{2C} Q^2\]
                where \( \Phi = L \dot{Q} \).
            </p>
            </div>
            <div class="col-6"> 
            
        </div>
        </div>
        <div class="row mt-5">
            <h2>Measurements </h2>
            <div class="col-12">
            <h3>Classical Measurements</h3>
            <p>When we perform a measurement in a classical LC system, the probability distributions on the flux and on the charge collapse into dirac delta distributions. A classical measurement provides full certainty both in the measured domain and the domain coupled to it. 
                Measuring the flux alone, gives all the information about the charge. After the measurement, the state of the L-C system is fully known for all time.</p>
            <p><b>! insert classical simulation with measurements !</b></p>
        </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
            <h3>Quantum Measurements</h3>
            <p>When we perform a measurement on a quantum system, we change the probability density and its corresponding wavefunction to reflect our new knowledge of the system. Here, we notice 2 very interesting effects:
                <ul style="list-style: none;">
                <li>1. The wavefunction collapse in the measured domain causes a broadening of the wavefunction in the coupled domain. This means that knowledge about one variable comes at the expense of knowledge of the other. </li>
                <li>2. After the measurement, the modified wavefunction doesn't continue to evolve in the LC potential like in the classical case. Instead, the wavefunction starts broadening out immediately after the measurement. The wavefunction post measurement has almost no resemblance to itself pre-measurement.</li> 
            </ul>
            </p>
            <p><b>! insert  quantum measurement simulation !</b></p>
        </div>
        </div>
        <div class="row mt-5">
            <h2>Uncertainty</h2>
            <div class="col-8">
                <h3></h3>
            </div>
        </div>
        <div class="row mt-5">
        
        </div>
        <img src="{{url_for('static', filename='MIT_c.jpg')}}" alt="MIT" width="270" height="100" align="left">
        <img src="{{url_for('static', filename='eecs.png')}}" alt="EECS" width="auto" height="100" align="right"> 
    </div>
    
{% endblock %}