{% extends 'base.html' %}
{% block content %}
    {% include 'navbar_prob_ampl.html' %}
    <div class="container">
        <div class="row mt-5">
            <h2 >Placeholder</h2>
            <div class="col-7">
                <h3>Placeholder </h3>
                <p> stuff
                 </p>

            </div>
            <div class="col-5">
                
               <!--{{ div_Classical_LC | safe }} -->
                
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
            <h3>Placeholder</h3>
            <p>blah blah blah 
            </p>
            </div>
            <div class="col-6"> 
            {{ div_Probability_dens | safe }}
        </div>
        </div>
        <div class="row mt-5">
            <h2>More stuff </h2>
            <div class="col-12">
            <h3>Blah</h3>
            <p>Stuff stuff blah </p>
            <p><b>! insert classical simulation with measurements or not this is fake anyway!</b></p>
        </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
            <h3>Something else</h3>
            <p>When we perform a measurement on a quantum system, we change the probability density and its corresponding wavefunction to reflect our new knowledge of the system. Here, we notice 2 very interesting effects:
                <ul style="list-style: none;">
                <li>1. The wavefunction collapse in the measured domain causes a broadening of the wavefunction in the coupled domain. This means that knowledge about one variable comes at the expense of knowledge of the other. </li>
                <li>2. After the measurement, the modified wavefunction doesn't continue to evolve in the LC potential like in the classical case. Instead, the wavefunction starts broadening out immediately after the measurement. The wavefunction post measurement has almost no resemblance to itself pre-measurement.</li> 
            </ul>
            </p>
            <p><b>! insert  quantum measurement simulation !</b></p>
        </div>
        </div>
        <div class="row mt-5">
            <h2>Uncertainty</h2>
            <div class="col-8">
                <h3></h3>
            </div>
        </div>
        <div class="row mt-5">
            {{ div_Quantum_state | safe }}
        </div>
        <img src="{{url_for('static', filename='MIT_c.jpg')}}" alt="MIT" width="270" height="100" align="left">
        <img src="{{url_for('static', filename='eecs.png')}}" alt="EECS" width="auto" height="100" align="right"> 
    </div>
    {{ script_Probability_dens | safe }}
    {{ script_Quantum_state | safe }}
{% endblock %}