{% extends 'base.html' %}
{% block content %}
    {% include 'navbar_prob_ampl.html' %}
    <div class="container">

        <div class="row mt-5">
            <div class="col-12"> 
                <h2>The Schrodinger Equation in the Diffusion Picture</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <p>
                    The Schrodinger equation describes the evolution of quantum systems in time.
                    One interesting question to ask if whether the Schrodinger equation has a <b>diffusive nature</b> to it.
                </p>
                <p>
                    More precisely, what information about the behaviour of the Schrodinger equation can we get if we compare it to the diffusion equation?
                    \[ i \hbar \frac{d}{d t}|\Psi(t)\rangle=\hat{H}|\Psi(t)\rangle \]
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <img src="{{url_for('static', filename='particles.png')}}" alt="particles" width="auto" height="auto" align="center">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>The free particle potential</h3>
                <p>
                    In the case analogous to a “free-moving particle”, the inductance of an LC circuit is much greater than its inductance. The Schrodinger equation looks like this:
                    \[ i \hbar \frac{d}{d t}|\Psi(t)\rangle=\hat{H}|\Psi(t)\rangle \]
                    \[ i \hbar \frac{d \Psi}{d t} = -\frac{\hbar^2}{2C} \frac{d^2 \Psi}{d \Phi^2} \]
                    \[ \frac{d \Psi}{d t} = \frac{i\hbar}{2C} \frac{d^2 \Psi}{d \Phi^2} \]
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Comparing the equations</h3>
                <p>
                    We could suggest that the coefficient \( \frac{i\hbar}{2C} \)
                    in the Schrodinger equation is an analogue of \( D \), the diffusion coefficient for the diffusion equation.

                    Also, notice that in both cases we relate a single derivative in time \( \frac{d}{dt} \)
                    is related to a double derivative in the space coordinate \( \frac{d^2 }{d \Phi^2} \)
                </p>
                \[ \frac{d \Psi}{d t} = \frac{i\hbar}{2C} \frac{d^2 \Psi}{d \Phi^2} \]
                \[ \frac{dT}{dt} = D \frac{d^2 T}{d x^2} \]
                <p>So, should we expect the same behaviour?</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Diffusion Sandbox</h3>
                <p>In the sandbox below, there is a distribution of particles that are enclosed in a box.  Run the sandbox multiple times with different conditions, note the evolution of the particles and its distribution.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>
        
        <div class="row mt-5">
            <div class="col-4">
                <p><b>Question 1</b></p>
                What property of the initial distribution function is relates to how quickly the particles diffuse?
                <form>
                    <div class="form-group">
                        <label for="answer1"></label>
                        <input type="text" class="form-control" id="answer1" placeholder="Type your thoughts here">
                    </div>
                </form>
            </div>
            <div class="col-8" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <b>1.</b>
                What can you say about the evolution of the particles near the center of the distribution compared to those around the edges?
                <form>
                    <div class="form-group">
                        <label for="answer2"></label>
                        <input type="text" class="form-control" id="answer2" placeholder="Type your thoughts here">
                    </div>
                </form>
            </div>
            <div class="col-8" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <b>2.</b>
                What can you say about the evolution of the particles near the center of the distribution compared to those around the edges?
                <form>
                    <div class="form-group">
                        <label for="answer2"></label>
                        <input type="text" class="form-control" id="answer2" placeholder="Type your thoughts here">
                    </div>
                </form>
            </div>
            <div class="col-8" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <b>3.</b>
                If the evolution goes on for a very long time, what do you expect the final distribution to be like?
                <form>
                    <div class="form-group">
                        <label for="answer2"></label>
                        <input type="text" class="form-control" id="answer2" placeholder="Type your thoughts here">
                    </div>
                </form>
            </div>
            <div class="col-8" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Diffusion behaviour</h3>
                <p>
                    The evolution of the particles is different depending on the distribution <b>curvature</b> in the diffusion picture.
                    <ul>
                        <li>If the distribution is narrow, the curvature near the centre is large, then the particles will move very fast.</li>
                        <li>If the distribution is wide, the curvature near the centre is small, then the particles will move very slow.</li>
                    </ul>

                    We can conclude that the evolution of the distribution function is related to its curvature \( \frac{d^2 T}{dx^2} \),
                    which follows from the statement of diffusion equation.
                </p>
                \[ \frac{dT}{dt} = D \frac{d^2 T}{dx^2} \]
                <p>Well, does the Schrodinger equation do the same?</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Schordinger Equation Sandbox</h3>
                <p>In the sandbox below, you can simulate the evolution of a gaussian probability density function for an LC circuit for the “free-moving particle” case (large inductor).</p>
                <p>Note that this is a shallow potential, which results in a sharp wavefunction.</p>
                <p>You can also toggle the evolution between the classical diffusion equation and the Schrodinger equation.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <b>1.</b>
                What property(s) of the initial distribution function is relates to how quickly the probability density function expands?
                <form>
                    <div class="form-group">
                        <label for="answer2"></label>
                        <input type="text" class="form-control" id="answer2" placeholder="Type your thoughts here">
                    </div>
                </form>
            </div>
            <div class="col-8" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <b>2.</b>
                Think back to the Schrodinger equation. What aspect of the evolution do the circuit elements control?
                <form>
                    <div class="form-group">
                        <label for="answer2"></label>
                        <input type="text" class="form-control" id="answer2" placeholder="Type your thoughts here">
                    </div>
                </form>
            </div>
            <div class="col-8" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <b>3.</b>
                If the evolution is changed from quantum to classical, comment on the real and imaginary components of the probability density function.
                <form>
                    <div class="form-group">
                        <label for="answer2"></label>
                        <input type="text" class="form-control" id="answer2" placeholder="Type your thoughts here">
                    </div>
                </form>
            </div>
            <div class="col-8" style="background-color: #e3e3e3">! Insert sandbox here !</div>
        </div>

        <img src="{{url_for('static', filename='MIT_c.jpg')}}" alt="MIT" width="270" height="100" align="left">
        <img src="{{url_for('static', filename='eecs.png')}}" alt="EECS" width="auto" height="100" align="right"> 
    </div>
    {{ script_Probability_dens | safe }}
    {{ script_Quantum_state | safe }}
{% endblock %}