{% extends 'base.html' %}
{% block content %}
{% include 'navbars/navbar_home.html' %}
    <div class="container">
        <div class="row mt-7">
            <h2>6.S079: Quantum Superconducting Circuits for Quantum Computing</h2>
            <h3 >Teaching Staff</h3>
            <div class="col-12">
                <h5>Karl Berggren</h5>
                <p> Karl's contact info</p>
            </div>
        </div>
        <div class="row mt-7">
            <div class="col-12">
                <h5>Adina Bechhofer</h5>
                <p>Adina's contact info</p>
            </div>
            </div>
            <div class="row mt-7">
                <div class="col-12">
                    <h5>Dip Joti Paul</h5>
                    <p>DJ's contact info</p>
                </div>
                </div>
                <div class="row mt-7">
                    <div class="col-12">
                        <h5>Andres Lombo</h5>
                        <p>Andres's contact info</p>
                    </div>
                    </div>
                    <img src="{{url_for('static', filename='MIT_c.jpg')}}" alt="MIT" width="270" height="100" align="left">
                    <img src="{{url_for('static', filename='eecs.png')}}" alt="EECS" width="auto" height="100" align="right"> 
    </div>

{% endblock %}