{% extends 'base.html' %}
{% block content %}
{% include 'navbar_home.html' %}
    <div class="container">
        <h1>6.S079: Quantum Circuits, Superconductors and Qbits</h1>
        <div class="row mt-3">
            <h2 >Teaching Staff</h2>
            <div class="col-12">
                <h4>Karl </h4>
                <p> Karl's contact info</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h4>Adina </h4>
                <p>Adina's contact info</p>
            </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <h4>DJ </h4>
                    <p>DJ's contact info</p>
                </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h4>Andres </h4>
                        <p>Andres's contact info</p>
                    </div>
                    </div>
    </div>

{% endblock %}